.active {
    outline-width: 5px;
    outline-style: solid;
    animation-name: outlineColor;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes outlineColor {
    0% {
      outline-color: green;
    }
    50% {
      outline-color: rgba(green, 0.5);
    }
    100% {
      outline-color: green;
    }
  }